### Linux ###
*~
*.pyc
host/res

# Test folder
host/test/*
host/test/*/*
!host/test/*README.md
!host/test/vot2017/*vot2017_setup.sh
!host/test/vot2017/*list.txt
!host/test/cvlab/*cvlab_setup.sh
!host/test/cvlab/*list.txt

# TensorFlow object_detection API
/host/src/detector/object_detection/
